/* General Window Styling */
window {
    background-color: #231f42;
    border: 1px solid #231f42;
    padding: 10px;
}

/* Styling the search entry */
entry {
    font-size: 14px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #231f42;
    background-color: #2d3160;
    color: #fefefe;
}

entry:focus {
    border-color: #00406b;
}

/* TreeView styling (song list table) */
treeview {
    background-color: #2d3160;
    border: 1px solid #231f42;
    padding: 0;
    margin: 0;
}

treeview row:selected {
    background-color: #f9a1d4;
}

treeview header {
    font-weight: bold;
    background-color: #2d3160;
    color: white;
}

/* Image styling (song/album art) */
image {
    border: 1px solid #231f42;
    padding: 5px;
    background-color: #231f42;
}

/* Button styling (play, pause, etc.) */
button {
    background-color: #ffffff;
    color: #ffffff;
    padding: 5px;
    font-size: 5px;
    border-radius: 5px;
    margin: 5px;
    border: none;
}

button:hover {
    background-color: #007acc;
}

button:active {
    background-color: #005f99;
}

/* Slider (volume or progress bar) */
scale {
    background-color: #231f42;
    padding: 5px;
    border-radius: 5px;
}

scale trough {
    background-color: #f6a3a3;
}

scale slider {
    background-color: #231f42;
    border-radius: 50%;
}

/* Labels (like the song title or search result headers) */
label {
    font-size: 14px;
    color: #ffffff;
    padding: 5px;
}

label.header {
    font-size: 16px;
    font-weight: bold;
    color: #231f42;
    padding-bottom: 5px;
}

